<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.github.wiiclipse.managedbuild.scannerConfig"
         name="%extension.name"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.github.wiiclipse.managedbuild.WiiClipseScannerInfoCollector"
            scope="project">
      </scannerInfoCollector>
      <scannerInfoProvider
            providerId="com.github.wiiclipse.managedbuild.scannerConfigProvider">
         <run
               arguments="-E -P -v -dD ${plugin_state_location}/${specs_file}"
               class="com.github.wiiclipse.managedbuild.WiiClipseSpecsRunScannerInfoProvider"
               command="powerpc-eabi-gcc">
         </run>
         <scannerInfoConsoleParser
               class="org.eclipse.cdt.make.internal.core.scannerconfig.gnu.GCCSpecsConsoleParser">
         </scannerInfoConsoleParser>
      </scannerInfoProvider>
   </extension>
   <extension
         id="com.github.wiiclipse.managedbuild.extSettings"
         name="%extension.name"
         point="org.eclipse.cdt.core.externalSettingsProvider">
      <provider
            class="com.github.wiiclipse.managedbuild.WiiClipseCExternalSettingsProvider">
      </provider>
   </extension>
   <extension
         id="com.github.wiiclipse.managedbuild.buildDefinitions"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <tool
            errorParsers="org.eclipse.cdt.core.GCCErrorParser"
            id="com.github.wiiclipse.managedbuild.compiler.base"
            isAbstract="true"
            outputFlag="-o">
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.symbols"
               name="%OptionCategory.Symbols"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.symbols"
               command="-D"
               defaultValue="GEKKO"
               id="com.github.wiiclipse.managedbuild.compiler.option.symbols.def"
               name="%Option.DefSym"
               value="GEKKO"
               valueType="definedSymbols">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.symbols"
               command="-U"
               id="com.github.wiiclipse.managedbuild.compiler.option.symbols.undef"
               name="%Option.UndefSym"
               valueType="undefDefinedSymbols">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.include"
               name="%OptionCategory.Includes"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               browseType="directory"
               category="com.github.wiiclipse.managedbuild.compiler.option.category.include"
               command="-I"
               id="com.github.wiiclipse.managedbuild.compiler.option.include.paths"
               isAbstract="false"
               name="%Option.InclPath"
               resourceFilter="all"
               valueType="includePath">
         </option>
         <option
               browseType="file"
               category="com.github.wiiclipse.managedbuild.compiler.option.category.include"
               command="-include"
               id="com.github.wiiclipse.managedbuild.compiler.option.include.files"
               isAbstract="false"
               name="%Option.InclFiles"
               resourceFilter="all"
               valueType="includeFiles">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.debug"
               name="%OptionCategory.Debug"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.debug"
               id="com.github.wiiclipse.managedbuild.compiler.option.debug.level"
               isAbstract="false"
               name="%Option.DebugLevel"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="com.github.wiiclipse.managedbuild.compiler.option.debug.level.none"
                  name="%Option.Debug.None">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g1"
                  id="com.github.wiiclipse.managedbuild.compiler.option.debug.level.min"
                  name="%Option.Debug.Min">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g3"
                  id="com.github.wiiclipse.managedbuild.compiler.option.debug.level.max"
                  name="%Option.Debug.Max">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g"
                  id="com.github.wiiclipse.managedbuild.compiler.option.debug.level.def"
                  isDefault="true"
                  name="%Option.Debug.Def">
            </enumeratedOptionValue>
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.debug"
               id="com.github.wiiclipse.managedbuild.compiler.option.debug.other"
               name="%Option.Debug.Other"
               valueType="string">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.optimization"
               name="%OptionCategory.Optimize"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.optimization"
               id="com.github.wiiclipse.managedbuild.compiler.option.optimization.level"
               name="%Option.OptLevel"
               valueType="enumerated">
            <enumeratedOptionValue
                  command="-O0"
                  id="com.github.wiiclipse.managedbuild.compiler.optimization.level.none"
                  isDefault="false"
                  name="%Option.Optimize.None">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-O1"
                  id="com.github.wiiclipse.managedbuild.compiler.optimization.level.optimize"
                  name="%Option.Optimize.Optimize">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-O2"
                  id="com.github.wiiclipse.managedbuild.compiler.optimization.level.more"
                  isDefault="true"
                  name="%Option.Optimize.More">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-O3"
                  id="com.github.wiiclipse.managedbuild.compiler.optimization.level.most"
                  name="%Option.Optimize.Most">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-Os"
                  id="com.github.wiiclipse.managedbuild.compiler.optimization.level.size"
                  name="%Option.Optimize.Size">
            </enumeratedOptionValue>
            <enablement
                  attribute="defaultValue"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="com.github.wiiclipse.managedbuild.compiler.optimization.level.most">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.release">
               </checkBuildProperty>
            </enablement>
            <enablement
                  attribute="defaultValue"
                  extensionAdjustment="false"
                  type="CONTAINER_ATTRIBUTE"
                  value="com.github.wiiclipse.managedbuild.compiler.optimization.level.none">
               <checkBuildProperty
                     property="org.eclipse.cdt.build.core.buildType"
                     value="org.eclipse.cdt.build.core.buildType.debug">
               </checkBuildProperty>
            </enablement>
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.optimization"
               id="com.github.wiiclipse.managedbuild.compiler.option.optimization.flags"
               name="%Option.Optimize.Flags"
               valueType="string">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               name="%OptionCategory.Warn"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-fsyntax-only"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.syntax"
               name="%Option.Warn.Syntax"
               valueType="boolean">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-pedantic"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.pedantic"
               name="%Option.Warn.Pedandic"
               valueType="boolean">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-pedantic-errors"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.pedantic.error"
               name="%Option.Warn.PedErrors"
               valueType="boolean">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-w"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.nowarn"
               name="%Option.Warn.nowarn"
               valueType="boolean">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-Wall"
               defaultValue="true"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.allwarn"
               name="%Option.Warn.allwarn"
               valueType="boolean">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.warnings"
               command="-Werror"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.warnings.toerrors"
               name="%Option.Warn.toerrs"
               valueType="boolean">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.compiler.option.category.other"
               name="%OptionCategory.Misc"
               owner="com.github.wiiclipse.managedbuild.compiler.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.other"
               defaultValue="-c "
               id="com.github.wiiclipse.managedbuild.compiler.option.misc.other"
               name="%Option.OtherFlags"
               valueType="string">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.compiler.option.category.other"
               command="-v"
               defaultValue="false"
               id="com.github.wiiclipse.managedbuild.compiler.option.verbose"
               name="%Option.Verbose"
               valueType="boolean">
         </option>
         <outputType
               buildVariable="OBJS"
               id="com.github.wiiclipse.managedbuild.compiler.output"
               outputs="o">
         </outputType>
      </tool>
      <tool
            commandLinePattern="${COMMAND} ${INPUTS} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT}"
            errorParsers="org.eclipse.cdt.core.GLDErrorParser"
            id="com.github.wiiclipse.managedbuild.linker.base"
            isAbstract="true"
            outputFlag="-o">
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.exe">
               </value>
            </property>
         </supportedProperties>
         <envVarBuildPath
               pathType="buildpathLibrary"
               variableList="LIBRARY_PATH">
         </envVarBuildPath>
         <enablement
               type="ALL">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.exe">
            </checkBuildProperty>
         </enablement>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.linker.option.category.debug"
               name="%OptionCategory.Debug"
               owner="com.github.wiiclipse.managedbuild.linker.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.linker.option.category.debug"
               id="com.github.wiiclipse.managedbuild.linker.option.debug.level"
               isAbstract="false"
               name="%Option.DebugLevel"
               resourceFilter="all"
               valueType="enumerated">
            <enumeratedOptionValue
                  id="com.github.wiiclipse.managedbuild.linker.option.debug.level.none"
                  name="%Option.Debug.None">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g1"
                  id="com.github.wiiclipse.managedbuild.linker.option.debug.level.min"
                  name="%Option.Debug.Min">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g3"
                  id="com.github.wiiclipse.managedbuild.linker.option.debug.level.max"
                  name="%Option.Debug.Max">
            </enumeratedOptionValue>
            <enumeratedOptionValue
                  command="-g"
                  id="com.github.wiiclipse.managedbuild.linker.option.debug.level.def"
                  isDefault="true"
                  name="%Option.Debug.Def">
            </enumeratedOptionValue>
         </option>
         <option
               browseType="none"
               category="com.github.wiiclipse.managedbuild.linker.option.category.debug"
               defaultValue="true"
               id="com.github.wiiclipse.managedbuild.linker.option.debug.genmapfile"
               isAbstract="false"
               name="%Option.Linker.GenerateMapFile"
               resourceFilter="all"
               valueType="boolean">
         </option>
         <option
               browseFilterPath="map"
               browseType="file"
               category="com.github.wiiclipse.managedbuild.linker.option.category.debug"
               command="-Wl,-Map,"
               defaultValue="$@.map"
               id="com.github.wiiclipse.managedbuild.linker.option.debug.mapfile"
               isAbstract="false"
               name="%Option.Linker.MapFile"
               resourceFilter="all"
               valueType="string">
            <enablement
                  type="ALL">
               <checkOption
                     isRegex="false"
                     optionId="com.github.wiiclipse.managedbuild.linker.option.debug.genmapfile"
                     value="true">
               </checkOption>
            </enablement>
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.linker.option.category.debug"
               id="com.github.wiiclipse.managedbuild.linker.option.debug.other"
               name="%Option.Debug.Other"
               valueType="string">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.linker.option.category.libs"
               name="%OptionCategory.Libs"
               owner="com.github.wiiclipse.managedbuild.linker.base">
         </optionCategory>
         <option
               browseType="none"
               category="com.github.wiiclipse.managedbuild.linker.option.category.libs"
               command="-l"
               id="com.github.wiiclipse.managedbuild.linker.option.libs"
               isAbstract="false"
               name="%Option.Libs"
               valueType="stringList">
            <listOptionValue
                  builtIn="false"
                  value="ogc">
            </listOptionValue>
         </option>
         <option
               browseType="directory"
               category="com.github.wiiclipse.managedbuild.linker.option.category.libs"
               command="-L"
               id="com.github.wiiclipse.managedbuild.linker.option.libsearch"
               isAbstract="false"
               name="%Option.Libsearch"
               resourceFilter="all"
               valueType="libPaths">
         </option>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.linker.option.category.other"
               name="%OptionCategory.Misc"
               owner="com.github.wiiclipse.managedbuild.linker.base">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.linker.option.category.other"
               defaultValue="-mrvl -mcpu=750 -meabi -mhard-float"
               id="com.github.wiiclipse.managedbuild.linker.option.other.flags"
               isAbstract="false"
               name="%Option.Linker.Flags"
               resourceFilter="all"
               valueType="string">
         </option>
         <option
               category="com.github.wiiclipse.managedbuild.linker.option.category.other"
               command="-Xlinker ${VALUE}"
               id="com.github.wiiclipse.managedbuild.linker.option.other.xlinker"
               isAbstract="false"
               name="%Option.Linker.XLinker"
               resourceFilter="all"
               valueType="stringList">
         </option>
         <option
               browseType="file"
               category="com.github.wiiclipse.managedbuild.linker.option.category.other"
               id="com.github.wiiclipse.managedbuild.linker.option.other.userObjs"
               isAbstract="false"
               name="%Option.Linker.UserObjs"
               valueType="userObjs">
         </option>
         <outputType
               buildVariable="EXECUTABLES"
               id="com.github.wiiclipse.managedbuild.toolchain.linker.output.elf"
               multipleOfType="false"
               outputContentType="org.eclipse.cdt.core.executableFile"
               outputNames="${BuildArtifactFileBaseName}.elf"
               outputs="elf"
               primaryOutput="true">
         </outputType>
      </tool>
      <tool
            command="powerpc-eabi-gcc"
            id="com.github.wiiclipse.managedbuild.c.linker"
            name="%ToolName.linker.c"
            natureFilter="cnature"
            superClass="com.github.wiiclipse.managedbuild.linker.base">
         <inputType
               id="com.github.wiiclipse.managedbuild.c.linker.input"
               superClass="cdt.managedbuild.tool.gnu.c.linker.input">
            <additionalInput
                  kind="additionalinputdependency"
                  paths="$(USER_OBJS)">
            </additionalInput>
            <additionalInput
                  kind="additionalinput"
                  paths="$(LIBS)">
            </additionalInput>
         </inputType>
      </tool>
      <tool
            command="powerpc-eabi-g++"
            id="com.github.wiiclipse.managedbuild.cpp.linker"
            name="%ToolName.linker.cpp"
            natureFilter="ccnature"
            superClass="com.github.wiiclipse.managedbuild.linker.base">
         <inputType
               id="com.github.wiiclipse.managedbuild.cpp.linker.input"
               scannerConfigDiscoveryProfileId="com.github.wiiclipse.managedbuild.scannerConfig"
               superClass="cdt.managedbuild.tool.gnu.cpp.linker.input">
            <additionalInput
                  kind="additionalinputdependency"
                  paths="$(USER_OBJS)">
            </additionalInput>
            <additionalInput
                  kind="additionalinput"
                  paths="$(LIBS)">
            </additionalInput>
         </inputType>
      </tool>
      <tool
            command="powerpc-eabi-as"
            id="com.github.wiiclipse.managedbuild.assembler"
            name="%ToolName.assembler"
            natureFilter="both"
            superClass="cdt.managedbuild.tool.gnu.assembler">
      </tool>
      <tool
            command="powerpc-eabi-gcc"
            id="com.github.wiiclipse.managedbuild.c.compiler"
            name="%ToolName.compiler.c"
            superClass="com.github.wiiclipse.managedbuild.compiler.base">
         <inputType
               id="com.github.wiiclipse.managedbuild.c.compiler.input"
               languageId="org.eclipse.cdt.core.gcc"
               scannerConfigDiscoveryProfileId="com.github.wiiclipse.managedbuild.scannerConfig"
               superClass="cdt.managedbuild.tool.gnu.c.compiler.input">
         </inputType>
      </tool>
      <tool
            command="powerpc-eabi-g++"
            id="com.github.wiiclipse.managedbuild.cpp.compiler"
            name="%ToolName.compiler.cpp"
            natureFilter="ccnature"
            superClass="com.github.wiiclipse.managedbuild.compiler.base">
         <inputType
               id="com.github.wiiclipse.managedbuild.cpp.compiler.input"
               scannerConfigDiscoveryProfileId="com.github.wiiclipse.managedbuild.scannerConfig"
               superClass="cdt.managedbuild.tool.gnu.cpp.compiler.input">
         </inputType>
      </tool>
      <tool
            command="elf2dol"
            commandLinePattern="${COMMAND} ${INPUTS} ${FLAGS} ${OUTPUT_FLAG}${OUTPUT_PREFIX}${OUTPUT}"
            id="com.github.wiiclipse.managedbuild.elf2dol"
            name="%ToolName.elf2dol">
         <enablement
               type="ALL">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.exe">
            </checkBuildProperty>
         </enablement>
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.exe">
               </value>
            </property>
         </supportedProperties>
         <inputType
               buildVariable="EXECUTABLES"
               id="com.github.wiiclipse.managedbuild.elf2dol.input"
               multipleOfType="false"
               primaryInput="true"
               sources="elf">
         </inputType>
         <outputType
               buildVariable="DOL"
               id="com.github.wiiclipse.managedbuild.elf2dol.output"
               multipleOfType="false"
               outputContentType="org.eclipse.cdt.core.executableFile"
               outputNames="${BuildArtifactFileBaseName}.dol"
               outputs="dol"
               primaryOutput="true">
         </outputType>
      </tool>
      <tool
            command="powerpc-eabi-ar"
            id="com.github.wiiclipse.managedbuild.archiver"
            name="%ToolName.archiver">
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
               </value>
            </property>
         </supportedProperties>
         <optionCategory
               id="com.github.wiiclipse.managedbuild.archiver.option.category.general"
               name="%OptionCategory.General"
               owner="com.github.wiiclipse.managedbuild.archiver">
         </optionCategory>
         <option
               category="com.github.wiiclipse.managedbuild.archiver.option.category.general"
               defaultValue="-rc"
               id="com.github.wiiclipse.managedbuild.archiver.option.flags"
               name="%Option.Archiver.Flags"
               valueType="string">
         </option>
         <inputType
               buildVariable="OBJS"
               dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultNoDependencyCalculator"
               id="com.github.wiiclipse.managedbuild.archiver.input"
               multipleOfType="true"
               primaryInput="true"
               scannerConfigDiscoveryProfileId="com.github.wiiclipse.managedbuild.scannerConfig"
               sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
               sources="o">
            <additionalInput
                  kind="additionalinputdependency"
                  paths="$(USER_OBJS)">
            </additionalInput>
            <additionalInput
                  kind="additionalinput"
                  paths="$(LIBS)">
            </additionalInput>
         </inputType>
         <outputType
               buildVariable="ARCHIVES"
               id="com.github.wiiclipse.managedbuild.archiver.output"
               outputNames="lib${BuildArtifactFileBaseName}.a"
               outputPrefix="lib"
               outputs="a"
               primaryOutput="true">
         </outputType>
         <enablement
               type="ALL">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
            </checkBuildProperty>
         </enablement>
      </tool>
      <toolChain
            configurationEnvironmentSupplier="com.github.wiiclipse.managedbuild.WiiClipseEnvironmentVariableSupplier"
            id="com.github.wiiclipse.managedbuild.toolchain.base"
            name="%Toolchain.Name"
            scannerConfigDiscoveryProfileId="com.github.wiiclipse.managedbuild.scannerConfig">
         <builder
               id="com.github.wiiclipse.managedbuild.toolchain.builder.base"
               superClass="cdt.managedbuild.target.gnu.builder">
         </builder>
         <targetPlatform
               binaryParser="org.eclipse.cdt.core.ELF"
               id="com.github.wiiclipse.managedbuild.toolchain.platform.base">
         </targetPlatform>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.assembler.base"
               isAbstract="false"
               superClass="com.github.wiiclipse.managedbuild.assembler">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.c.compiler.base"
               superClass="com.github.wiiclipse.managedbuild.c.compiler">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.cpp.compiler.base"
               superClass="com.github.wiiclipse.managedbuild.cpp.compiler">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.c.linker.base"
               superClass="com.github.wiiclipse.managedbuild.c.linker">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.cpp.linker.base"
               superClass="com.github.wiiclipse.managedbuild.cpp.linker">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.elf2dol.base"
               superClass="com.github.wiiclipse.managedbuild.elf2dol">
         </tool>
         <tool
               id="com.github.wiiclipse.managedbuild.toolchain.archiver.base"
               isAbstract="false"
               superClass="com.github.wiiclipse.managedbuild.archiver">
         </tool>
         <supportedProperties>
            <property
                  id="org.eclipse.cdt.build.core.buildArtefactType">
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
               </value>
               <value
                     id="org.eclipse.cdt.build.core.buildArtefactType.exe">
               </value>
            </property>
         </supportedProperties>
      </toolChain>
      <configuration
            cleanCommand="rm -Rf"
            errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
            id="com.github.wiiclipse.managedbuild.config.base"
            name="%ConfigName.Default">
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="a">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
            </checkBuildProperty>
         </enablement>
         <enablement
               attribute="artifactExtension"
               extensionAdjustment="false"
               type="CONTAINER_ATTRIBUTE"
               value="dol">
            <checkBuildProperty
                  property="org.eclipse.cdt.build.core.buildArtefactType"
                  value="org.eclipse.cdt.build.core.buildArtefactType.exe">
            </checkBuildProperty>
         </enablement>
      </configuration>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
            id="com.github.wiiclipse.managedbuild.target.lib"
            isAbstract="false">
         <configuration
               artifactExtension="a"
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.staticLib"
               id="com.github.wiiclipse.managedbuild.config.lib"
               parent="com.github.wiiclipse.managedbuild.config.base">
            <toolChain
                  id="com.github.wiiclipse.managedbuild.toolchain.lib"
                  isAbstract="false"
                  superClass="com.github.wiiclipse.managedbuild.toolchain.base">
            </toolChain>
         </configuration>
      </projectType>
      <projectType
            buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
            id="com.github.wiiclipse.managedbuild.target.exe"
            isAbstract="false">
         <configuration
               artifactExtension="dol"
               buildArtefactType="org.eclipse.cdt.build.core.buildArtefactType.exe"
               id="com.github.wiiclipse.managedbuild.config.exe"
               parent="com.github.wiiclipse.managedbuild.config.base">
            <toolChain
                  id="com.github.wiiclipse.managedbuild.toolchain.exe"
                  isAbstract="false"
                  superClass="com.github.wiiclipse.managedbuild.toolchain.base">
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
